
html,
body{
  height: 100%;
}

body{
  color: $default;
  @extend %montserrat-400;
  font-size: 18px;
  line-height: 31px;
  position: relative;
}

.wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  background-color: $bg;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.title{
  color: $title;
  text-transform: capitalize;
  font-size: 44px;
  line-height: 53px;
  @extend %open-600;
}

.subtitle{
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $default;
  @extend %montserrat-700;
  display: inline-block;
  padding: 3px 15px;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    height: 22px;
    background-image: url('../images/decor/subtitile.svg');
    background-repeat: no-repeat;
  }
  &::before{
    left: 0;
    transform: rotate(180deg);
  }
  &::after{
    right: 0;
  }
}

.breadcrumbs{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &__list{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    font-size: 16px;
    line-height: 27px;
    color: $title;
    opacity: .5;
    @extend %open-700;
    padding-right: 45px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 5px;
      height: 2px;
      background-color: rgba($color: $title, $alpha: 0.5);
    }
    &:last-child{
      padding-right: 0;
      &::before{
        display: none;
      }
    }
  }
}

.input,
.textarea{
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.15);
  padding: 12px 30px;
  border-radius: 50px;
  color: $default;
  outline: none;
  &::placeholder{
    color: $default;
  }
  &:focus{
    border: 2px solid rgba(255, 255, 255, 0.6);
    &::placeholder{
      color: transparent;
    }
  }
}
.textarea{
  height: 100px;
  resize: none;
  border-radius: 25px;
}

@media (max-width:420px){
  .subtitle {
    font-size: 10px;
    padding: 3px 13px;
  }
  .title{
    font-size: 30px;
    line-height: 38px;
  }

  .input,
.textarea{
  &::placeholder{
    color: $default;
    font-size: 15px;
  }
  }
}

/* @media (max-width:360px){
  .title{
    font-size: 36px;
    line-height: 44px;
  }
} */