
@media (max-width:1720px){
  .services{
    &__inner {
      align-items: center;
      padding: 100px 0;
      flex-direction: column;
    }
    &__content {
      max-width: 750px;
      margin: 0 0 40px;
      text-align: center;
      padding: 0 15px;
    }
  }
}

@media (max-width:1560px){
  .examples-slider__inner{
    padding: 180px 20px 180px;
  }
  .examples-slider__images {
    margin-right: 45px;
    max-width: 800px;
  }
}

@media (max-width:1440px){
  .top{
    &__social {
      bottom: 40px;
      left: 35px;
    }
  }

  .top-slider{
    &__content {
      padding: 200px 0;
    }
    &__title {
      margin-bottom: 50px;
    }
    &__item::after{
      display: none;
    }
  }
  .about-me,
  .event{
    background-image: none;
  }
  .about-us__popup{
    margin-right: 15px;
  }
  .event__content {
    margin-right: auto;
  }
}

@media (max-width:1366px){
  .top .slick-dots .slick-active {
    font-size: 40px;
    line-height: 140%;
  }
  .top-slider{
    &__content {
      padding: 200px 0 100px;
      max-width: 740px;
    }
    &__title {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 30px;
    }
  }
  .top {
    &__social {
      left: 60px;
    }
    ul.top__social-list {
      flex-direction: row;
      align-items: start;
    }
    &__social-item {
      padding: 0 15px ;
      &:nth-child(2)::before {
        top: 50%;
        left: 0;
      }
      &:nth-child(2)::after {
        bottom: 50%;
        left: auto;
        right: 0;
        transform: translateY(50%);
      }
    }
  }
  .menu__list-link, 
  .menu__list-home, 
  .menu__link-block, 
  .menu__dropdawn-link {
    font-size: 12px;
    line-height: 15px;
  }
  .menu__list-item {
    margin-right: 30px;
  }
  .top__social {
    position: static;
    margin-top: -60px;
    padding-left: 15px;
  }

  .service__item {
    margin-bottom: 30px;
  }
  .service__box-title {
    font-size: 20px;
    line-height: 25px;
  }
  .service__box-text {
    font-size: 14px;
    line-height: 18px;
    span {
      font-size: 15px;
      line-height: 26px;
    }
  }
  .popup .video-popup{
    min-height: 500px;
  }
  .popup .video-popup__link{
    width: 100px;
    height: 100px;
  }
  .footer__item {
    padding: 30px;
  }
  .footer__form{
    display: block;
  }
  .footer__form-input{
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%;
  }
  .footer__contact{
    justify-content: start;
  }
  .footer__bottom-inner{
    flex-direction: column;
  }
  .footer__bottom {
    padding: 25px 30px;
  }
  .footer__bottom-copy{
    margin-bottom: 10px;
  }
  .footer__bottom-link:last-child {
    padding-right: 0;
    padding-left: 0;
  }
  .examples-slider__inner{
    padding: 100px 20px;
  }
  .examples-slider__images {
    margin-right: 30px;
   /*  max-width: 730px; */
   max-width: 645px;
  }
  .examples-slider .images-slider source, .examples-slider .images-slider img {
    /* width: 395px;
    height: 450px; */
    width: 360px;
    height: 430px;
  }
  .examples-slider .slick-active:not(.slick-current) source, .examples-slider .slick-active:not(.slick-current) img {
    /* width: 450px;
    height: 550px; */
    width: 395px;
    height: 450px;
  }
  .examples-slider .slick-current {
    transform: translateY(14%);
  }
  .examples-slider .slick-current source, .examples-slider .slick-current img {
    width: 250px;
    height: 360px;
  }
  .slider-examples .slick-arrow {
    right: 100px;
    z-index: 4;
  }
  
  .slider-examples .slick-prev {
    right: 180px;
  }
  
}

@media (max-width:1100px){
  .about-me__content {
    margin-right: 20px;
  }
  .about-me__images picture source, 
  .about-me__images picture img,
  .event__img source,
  .event__img img {
    width: 400px;
    height: 550px;
  }
  .popup::before{
    display: none;
  }
  .slider-examples .slick-arrow {
    right: 100px;
    bottom: 140px;
  }
  .slider-examples .slick-prev {
    right: 180px;
  }
  .examples-slider__inner {
    height: auto;
  }
  /* .examples-slider__content {
    order: -1;
    max-width: 750px;
    margin-bottom: 40px;
  } */
  /* .examples-slider__images {
    height: 450px;
  } */
  .examples-slider__images {
    margin-right: 30px;
    max-width: 440px;
  }
  .examples-slider .slick-current {
    opacity: 1;
  }
  .examples-slider .slick-slide::before {
    display: none;
  }
  .examples-slider .images-slider source, .examples-slider .images-slider img {
    width: 440px;
    height: 600px;
  }
  .examples-slider .slick-current{
    source,
    img{
      width: auto;
      height: auto;
    }
  } 
  .examples-slider .slick-slide {
    position: relative;
    width: 440px;
    height: 600px;
  }
  .examples-slider .slick-current {
    transform: translateY(0%);
  }
  .about-us{
    &__inner{
      flex-direction: column;
    }
    &__content {
      max-width: 100%;
      width: 100%;
      margin-right: 0;
    }
    &__popup{
      width: 95%;
      margin: 0 15px;
    }
  }
  .event__img{
    width: 400px;
  }
  .event__img-text p {
    font-size: 35px;
    line-height: 45px;
  }
  .event__img-text span {
    font-size: 25px;
    line-height: 32px;
  }
}


@media (max-width:1024px){
  .header {
    top: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: rgba(0, 0, 0, .3);
  }
  .menu__list{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    flex-direction: column;
    text-align: center;
    transform: translateY(-1000%);
  }
  .top-slider{
    &__title {
      font-size: 47px;
      line-height: 55px;
    }
    &__content {
      padding: 160px 60px 70px;
    }
    &__popup-text {
      font-size: 20px;
      line-height: 120%;
      max-width: 330px;
    }
    &__popup-video {
      margin-right: 25px;
    }
  }

  .contact__inner{
    flex-direction: column;
  }
  .contact__content {
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
  }
  .contact__box{
    justify-content: space-between;
  }
  .contact__box-item{
    margin-right: 0;
  }
  .contact-form{
    width: 100%;
    text-align: center;
  }
  .contact-form__input, .contact-form__textarea {
    max-width: 100%;
  }
  .footer__inner{
    flex-direction: column;
  }
  .footer__item{
    max-width: 100%;
  }
}

@media (max-width:880px){
  .about-me{
    padding: 60px 0;
    &__inner{
      flex-direction: column;
    }
    &__content {
      margin-right: 0;
      max-width: 100%;
      margin-bottom: 30px;
    }
    &__images picture source, img{
      margin: 0 auto;
    }
  }
  .about-me
  .skills__item{
    width: 100%;
  }
  .examples-slider__images {
    max-width: 320px;
  }
  .examples-slider .images-slider source, .examples-slider .images-slider img {
    width: 320px;
    height: 450px;
  }
  .examples-slider .slick-slide {
    position: relative;
    width: 320px;
    height: 450px;
  }
  .examples-slider__subtitle {
    margin-bottom: 15px;
  }
  .examples-slider__title {
    margin-bottom: 20px;
  }
  .examples-slider__text {
    margin-bottom: 20px;
  }
  .examples-slider__list-item {
    padding-left: 50px;
    margin-bottom: 15px;
  }
  .event{
    &__inner{
      flex-direction: column;
    }
    &__content {
      margin-right: 0;
      margin-bottom: 30px;
      max-width:100%
    }
  }
}


@media (max-width:768px){
  
  .top-slider{
    &__title {
      font-size: 35px;
      line-height: 45px;
    }
    &__subtitle {
      margin-bottom: 15px;
    }
    &__content {
      padding: 180px 15px 40px;
      max-width: 450px;
    }
    &__popup-text {
      font-size: 18px;
      line-height: 110%;
    }
    &__popup-video {
      svg{
        width: 80px;
        height: 90px;
      }
    }
  }
  .top .slick-dots .slick-active {
    font-size: 30px;
    line-height: 130%;
  }
  .top .slick-dots {
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
  }
  .top .slick-arrow {
    right: 0;
    img{
      max-width: 60%;
    }
  }
  .top .slick-prev {
    right: 90px;
    z-index: 1;
  }
  .services__subtitle,
  .popup__subtitle,
  .about-me__subtitle,
  .about-us__subtitle,
  .event__subtitle {
    margin-bottom: 15px;
  }

  .popup .video-popup {
    min-height: 360px;
    margin: 0 30px;
  }  
  .popup__title {
    margin-bottom: 30px;
  }
  .price__list-item {
    margin-right: 0;
  }
  .price {
    padding: 100px 0;
    &__subtitle {
      margin-bottom: 15px;
    }
    &__title {
      margin-bottom: 30px;
    }
  }
  .examples-slider__inner {
    flex-direction: column;
  }
  .examples-slider__content {
    max-width: 750px;
    order: -1;
    margin-bottom: 30px;
  }
  .slider-examples .slick-arrow {
    right: 20px;
    bottom: 30px;
  }
  .slider-examples .slick-prev {
    right: 100px;
  }
  .examples-slider__images {
    max-width: 100%;
    margin: 0 auto;
  }
  /* .examples-slider .images-slider source, .examples-slider .images-slider img {
    width: 330px;
    height: 460px;
  }
  .examples-slider .slick-slide {
    position: relative;
    width: 330px;
    height: 460px;
  } */
}

@media (max-width:540px){
  .top .slick-dots li,
  .top .slick-dots .slick-active {
    font-size: 0;
    line-height: 0%;
    &::before{
      display: none;
    }
  }
  .top .slick-arrow {
    bottom: 25px;
  }
  .service__item {
    margin-left: 0;
  }
  .about-us{
    padding-bottom: 30px;
    &__popup{
      min-height: 450px;
    }
  }
  .price {
    padding: 30px 0 60px;
  }
  .top-slider__popup-video svg,
  .about-us__popup-video svg {
    width: 70px;
    height: 80px;
  } 
  .event{
    padding-bottom: 60px;
    &__info {
      margin-bottom: 30px;
    }
  }
}

@media (min-width: 550px) and (max-width: 890px) and (orientation: landscape){
  .top{
    overflow: auto;
  }
  .top__social {
    margin-top: -45px;
  }
  .top-slider__content {
    padding: 140px 15px 40px;
    max-width: 450px;
  }
}


@media (max-width:420px){
  .top .slick-arrow {
    right: 30px;
    width: 50px;
    img{
      max-width: 100%;
    }
  }
  .top .slick-prev {
    right: 75px;
  }
  .top-slider__popup-text {
    font-size: 16px;
  }
  .top-slider__content {
    padding: 210px 15px 40px;
  }
  .top-slider__title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .top-slider__popup-video {
    margin-right: 15px;
  }
  .services__content{
    text-align: left;
  }
  .services__inner {
    padding: 60px 0;
  }
  .service__item {
    &:last-child{
      margin-bottom: 0;
    }
  }
  .popup {
    padding: 60px 0 30px;
    text-align: left;
  }
  .popup__title,
  .services__title ,
  .about-me__title,
  .about-us__title,
  .price__title,
  .event__title {
    margin-bottom: 20px;
  }
  .popup .video-popup__link {
    width: 65px;
    height: 65px;
  }
  .popup .video-popup {
    min-height: 280px;
    margin: 0 15px;
    &::after{
      display: none;
    }
  }
  .about-me {
    padding: 30px 0 30px;
    &::after {
      top: 0;
      height: 430px;
    }
    &__inner{
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .skills__item{
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  .about-me__images picture source, 
  .about-me__images picture img,
  .event__img source, 
  .event__img img,
  .event__img {
    width: 350px;
    height: 450px;
    margin: 0 auto;
  }
  .about-us{
    &__text {
    margin-bottom: 30px;
    }
    &__statistic{
      justify-content: center;
    }
    &__statistic-item{
      margin-bottom: 20px;
    }
    &__statistic-number {
      margin-right: 10px;
      font-size: 30px;
      line-height: 40px;
    }
    &__statistic-descr {
      line-height: 22px;
    }
    &__popup {
      min-height: 300px;
    }
  }
  .price__content {
    text-align: left;
  }
  .price__list-item {
    padding: 30px 10px 30px 10px;
    text-align: center;
  }
  .price__list-rate {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 25px;
    span {
      font-size: 40px;
      line-height: 50px;
    }
  }
  .price .rate,
  .event__text {
    margin-bottom: 30px;
  }
  .price__list-item:last-child{
    margin-bottom: 0;
  }
  .event__info-title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .event__img-text{
   bottom: 25px;
   p{
     margin-bottom: 0;
    } 
  }
  .contact {
    padding-bottom: 80px;
    &__content{
      text-align: left;
    }
    &__title {
      font-size: 28px;
      line-height: 34px;
    }
    &__text {
      margin-bottom: 30px;
    }
    &__box-title {
      font-size: 14px;
      line-height: 20px;
    }
    &__box {
      justify-content: center;
      text-align: center;
    }
    &__box-item {
      margin-bottom: 15px;
      padding-left: 25px;
    }
  }
  
  .contact__box-item a, .contact__box-item p {
    font-size: 12px;
    line-height: 18px;
  }
  .contact-form {
    margin-top: 30px;
  }
  .examples-slider__inner {
    padding: 60px 15px;
  }
  .slider-examples .slick-arrow {
    bottom: auto;
    top: 30px;
    width: 50px;
  }
  .slider-examples .slick-prev {
    right: 80px;
  }
  .examples::before{
    bottom: 94%;
    top: 0;
  }
}
@media (max-width:390px){
  .examples-slider{
    &__list-item {
      width: 160px;
    }
    &__list-title {
      font-size: 14px;
      line-height: 24px;
    }
    &__list-descr {
      font-size: 12px;
      line-height: 20px;
    }
  }
}


@media (max-width:360px){
  .top-slider__title {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
  }
  .services__subtitle,
  .popup__subtitle,
  .examples-slider__subtitle,
  .about-me__subtitle,
  .about-us__subtitle,
  .event__subtitle{
    margin-bottom: 10px;
  }
  .services__title,
  .popup__title,
  .contact__title,
  .price__title,
  .examples-slider__title,
  .about-me__title,
  .about-me__text,
  .about-us__title,
  .event__title {
    margin-bottom: 15px;
  }
  .services__content {
    margin: 0 0 30px;
  }
  .price ul.rate {
    padding-left: 25px;
  }
  .rate__item,
  .contact__text,
  .footer__text,
  .services__text,
  .examples-slider__text,
  .skills__text,
  .about-us__text,
  .event__text{
    font-size: 16px;
    line-height: 26px;
  }
  .footer__text,
  .services__text,
  .about-me__text,
  .about-me__text-box,
  .about-us__text,
  .event__text,
  .event__info{
    margin-bottom: 20px;
  }  
  .about-me__images picture source, 
  .about-me__images picture img,
  .event__img source, 
  .event__img img,
  .event__img {
    width: 300px;
    height: 400px;
  }
  .skills__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .skills__item-box {
    margin-left: 20px;
  }
  .event{
    &__info-title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 10px;
    } 
    &__img-text {
      p {
        font-size: 27px;
        line-height: 38px;
        }
        span {
          font-size: 20px;
          line-height: 26px;
        }
      }
      &__info-date {
        font-size: 12px;
        line-height: 18px;
        margin-right: auto;
         time {
          font-size: 12px;
          line-height: 22px;
        }
      }
    }
  }

@media (max-width:340px){
  
  .top-slider__popup-text {
    font-size: 14px;
  }
  .top-slider__content {
    padding: 170px 0 40px;
  }
  .top-slider__title {
    font-size: 25px;
    line-height: 34px;
  }
  .examples::after {
    top: 96%;
    bottom: 8px;
  }
  .examples-slider{
    .slick-dots{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      li{
        margin: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        button{
          border: none;
          font-size: 1px;
          background-color: transparent;
          padding: 0;
          width: 5px;
          height: 5px;
          background-color: $default;
          border-radius: 50%;
        }
      }
      li.slick-active{
        button{
          width: 10px;
          height: 10px;
          background-color: $accent;
        }
      }
    }
  }
}