


$bg:#030404;
$title:#fff;
$default: #9CA7B8;
$accent: #8AAEE6;


%montserrat-400{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

%montserrat-700{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

%montserrat-800{
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

%open-600{
  font-family: 'OpenSans', sans-serif;
  font-weight: 600;
}

%open-700{
  font-family: 'OpenSans', sans-serif;
  font-weight: 700;
}

%open-800{
  font-family: 'OpenSans', sans-serif;
  font-weight: 800;
}


%btn{
  background: rgba(3, 3, 4, 0.5);
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  @extend %montserrat-800;
  padding: 15px 35px;
  color: rgba($title, .8);
  cursor: pointer;
  transition:  all .3s linear;
  &:hover{
  background: rgba(3, 3, 4, 1);
  }
}



@function max($numbers...) {
 @return m#{a}x(#{$numbers});
}
@function mix($numbers...) {
 @return m#{i}n(#{$numbers});
}
