@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  position: absolute;
  top: 60px;
  left: 80px;
  right: 80px;
  z-index: 3;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    display: flex;
  }
  &__navigation{
    display: flex;
    align-items: center;
  }
  &__menu-btn{
    display: inline-block;
    margin-right: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  &__btn-contact{
    @extend %btn;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    margin-right: 60px;
  }
  &__dropdawn{
    position: relative;
    &:hover{
      .dropdawn{
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }
  &__list-link,
  &__dropdawn-link{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    opacity: 0.5;
    @extend %montserrat-800;
    transition: all .3s linear;
    &:hover{
      opacity: 1;
    }
    &--active{
      opacity: 1;
    }
  }
  &__dropdawn-link{
    padding-right: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      right: 4px;
      width: 14px;
      height: 14px;
      background-image: url('../images/decor/dropdawn.svg');
    }
  }
}

.dropdawn{
  position: absolute;
    top: 140%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    .menu__dropdawn-link{
      &::before{
        display: none;
      }
    }
  }
 

.top{
  height: 100vh;
  position: relative;
  &__wrapper{
    z-index: 1;
  }
  ul.top__social-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 /*  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/decor/blur.png');
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
  } */
  &__social{
    position: absolute;
    bottom: 80px;
    left: 85px;
  }
  &__social-item{
    position: relative;
    padding: 20px 0;
    &:last-child{
      padding-bottom: 0;
    }
    &:nth-child(2){
     &::before{
       content: '';
       position: absolute;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 5px;
       height: 2px;
       background-color:$title;       
       border-radius: 25px;
     }
     &::after{
       content: '';
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 5px;
       height: 2px;
       background-color:$title;       
       border-radius: 25px;
     }
    }
  }
  &__social-link{
    @extend %open-800;
    color:$title;   
     opacity: 0.6;
     transition: all .3s linear;
     &:hover{
       opacity: 1;
     }
  }

  .slick-arrow{
    position: absolute;
    right: 80px;
    bottom: 80px;
    border: none;
    background-color: transparent;
  }
  .slick-prev{
    right: 210px;
    z-index: 1;
  }
  
  .slick-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
    right: 83px;
    li{
      font-size: 20px;
      line-height: 170%;
      color: $title;
      opacity: 0.5;
      padding: 0;
      margin-bottom: 20px;
      text-align: right;
      @extend %open-600;
      transition: all .2s linear;
      position: relative;
      &::before{
        content: '.';
        position: absolute;
        bottom: 0px;
        right: -10px;
        font-size: 20px;
      }
    }
    .slick-active{
      font-size: 50px;
        line-height: 170%;
        opacity: 1;
        &::before{
          content: '.';
          position: absolute;
          bottom: 0px;
          right: -15px;
          font-size: 50px;
        }
    }
  }
}

.top-slider{
  position: relative;
  &__item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url('../images/decor/blur.png');
      width: 1000px;
      height: 1000px;
      border-radius: 50%;
    }
    &::after{
      position: absolute;
      content: '';
      top: 184px;
      left: -35px;
      background-image: url('../images/decor/top-circle.svg');
      width: 900px;
      height: 900px;
    }
  }
  &__content{
    max-width: 960px;
    padding-top: 286px;
    position: relative;
    z-index: 2;
  }
  &__subtitle{
    margin-bottom: 25px;
    --animate-duration: 1.5s;
  }
  &__title{
    font-size: 78px;
    line-height: 86px;
    @extend %open-700;
    margin-bottom: 85px;
    --animate-duration: 1.5s;
  }
  &__popup{
    display: flex;
    align-items: center;
    --animate-duration: 1.5s;
  }
  &__popup-video{
    margin-right: 50px;
  }
  &__popup-text{
    font-size: 24px;
    line-height: 130%;
    color:$title; 
    max-width: 360px;
   }

   
}
/* .deg{
  animation: deg 15s linear  infinite ;
  transform-origin: center;
}
@keyframes deg{
  to{
    transform: rotate(360deg);
  }
} 
.abc{
  animation: abc 15s linear  infinite ;
  transform-origin: center;
}

@keyframes abc{
  to{
    transform: rotate(360deg);
  }
}  */


.abc{
  --animate-duration: 3.5s;
}
 .circle{
  stroke-dasharray: 295;
  stroke-dashoffset: 0;
  animation: animdash 60s linear 2s infinite ;
}


@keyframes animdash{
  to{
    stroke-dasharray: 295;
    stroke-dashoffset: 885;
  }
} 

.payse{
  transform-origin: center;
}



.services{
  background-color: $bg;
  &__inner{
    display: flex;
    align-items: flex-end;
    padding: 200px 0 100px 200px;
  }
  &__content{
    max-width: 360px;
    margin-right: 60px;
    margin-bottom: 50px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__link{
    @extend %btn;
  }
}

.service{
  display: flex;
  &__item{
    width: 310px;
    margin-right: 20px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    source,
    img{
      width: 310px;
      height: 400px;
      object-fit: cover;
    }
  }
  &__box{
    padding-left: 20px;
    margin-top: -12px;
  }
  &__box-title{
    font-size: 24px;
    line-height: 29px;
  }
  &__box-text{
    font-size: 16px;
    line-height: 27px;
    span{
      color: $title;
      padding-left: 10px;
      font-size: 18px;
      line-height: 31px;
      @extend %montserrat-700;
    }
  }
}

.examples{
  position: relative;
}

.examples-slider{
  &__item{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      background: rgba(17, 19, 25, 0.8);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }
  &__inner{
    padding: 180px 100px 180px;
    display: flex;
    align-items: center;
    height: 900px;
  }
  &__images{
    margin-right: 95px;
    min-width: 1px;
    max-width: 875px;
  }
  .images-slider{
    position: relative;
    source,
    img{
      width: 420px;
      height: 500px;
      /* width: 585px;
      height: 700px; */
      object-fit: cover;
     transition: all .3s linear;
    }
  }
  .slick-slide,
  .slick-track{
    transition: all .3s linear;
  }
  .slick-current{
    opacity: .3;
    source,
    img{
      width: 290px;
      height: 500px;
      /* width: 585px;
      height: 700px; */
      object-fit: cover;
      transform: translateY(20%);
      transition: all .6s linear;
    }
  }
  .slick-active:not(.slick-current){
    source,
    img{
    transition: all .6s linear;
      width: 585px;
      height: 700px;
    }
  }
  .slick-arrow{
    background-color: transparent;
    border: none;
    font-size: 0;
    position: absolute;
    z-index: 3;
    cursor: pointer;
  }
  .slick-prev{
    top: 20%;
    left: 0%;
    width: 290px;
    height: 500px;
  }
  .slick-next{
    right: 0%;
    top: 0%;
    width: 585px;
    height: 700px;
  }
  &__content{
    max-width: 440px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
  }
  ul.examples-slider__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__list-item{
    width: 180px;
    padding-left: 55px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat;
    }
    &--location::before{
      background-image: url('../images/icons/marker.svg');
    }
    &--dress::before{
      background-image: url('../images/icons/dress.svg');
      opacity: .3;
    }
    &--eye::before{
      background-image: url('../images/icons/eye.svg');
    }
    &--woman::before{
      background-image: url('../images/icons/woman.svg');
    }
  }
  &__list-title{
    font-size: 16px;
    line-height: 28px;
    @extend %montserrat-700;
  }
  &__list-descr{
    font-size: 14px;
    line-height: 24px;
  }
  &__link{
    @extend %btn;
  }
}







@import 'media';