@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  position: absolute;
  top: 60px;
  left: 80px;
  right: 80px;
  z-index: 3;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    display: flex;
  }
  &__navigation{
    display: flex;
    align-items: center;
  }
  &__menu-btn{
    display: inline-block;
    margin-right: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  &__btn-contact{
    @extend %btn;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item{
    margin-right: 60px;
  }
  &__dropdawn{
    position: relative;
    &:hover{
      .dropdawn{
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }
  }
  &__dropdawn-error{
    display: none;
  }
  &__list-link,
  &__list-home,
  &__link-block,
  &__dropdawn-link{
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    opacity: 0.5;
    @extend %montserrat-800;
    transition: all .3s linear;
    &:hover{
      opacity: 1;
    }
    &--active{
      opacity: 1;
    }
  }
  &__dropdawn-link{
    padding-right: 20px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 2px;
      right: 4px;
      width: 14px;
      height: 14px;
      background-image: url('../images/decor/dropdawn.svg');
    }
  }
}

.dropdawn{
  position: absolute;
    top: 140%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s linear;
    .menu__dropdawn-link{
      &::before{
        display: none;
      }
    }
  }
 

.top{
  height: 100vh;
  /* overflow: auto; */
  position: relative;
  &__wrapper{
    z-index: 1;
  }
  ul.top__social-list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 /*  &::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../images/decor/blur.png');
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
  } */
  &__social{
    position: absolute;
    bottom: 80px;
    left: 85px;
  }
  &__social-item{
    position: relative;
    padding: 20px 0;
    &:last-child{
      padding-bottom: 0;
    }
    &:nth-child(2){
     &::before{
       content: '';
       position: absolute;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 5px;
       height: 2px;
       background-color:$title;       
       border-radius: 25px;
     }
     &::after{
       content: '';
       position: absolute;
       bottom: 0;
       left: 50%;
       transform: translateX(-50%);
       width: 5px;
       height: 2px;
       background-color:$title;       
       border-radius: 25px;
     }
    }
  }
  &__social-link{
    @extend %open-800;
    color:$title;   
     opacity: 0.6;
     transition: all .3s linear;
     &:hover{
       opacity: 1;
     }
  }

  .slick-arrow{
    position: absolute;
    right: 80px;
    bottom: 80px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .slick-prev{
    right: 210px;
    z-index: 1;
  }
  
  .slick-dots{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 170px;
    right: 83px;
    li{
      font-size: 20px;
      line-height: 170%;
      color: $title;
      opacity: 0.5;
      padding: 0;
      margin-bottom: 20px;
      text-align: right;
      @extend %open-600;
      transition: all .2s linear;
      position: relative;
      &::before{
        content: '.';
        position: absolute;
        bottom: 0px;
        right: -10px;
        font-size: 20px;
      }
    }
    .slick-active{
      font-size: 50px;
        line-height: 170%;
        opacity: 1;
        &::before{
          content: '.';
          position: absolute;
          bottom: 0px;
          right: -15px;
          font-size: 50px;
        }
    }
  }
}

.top-slider{
  position: relative;
  &__item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      /* background-image: url('../images/decor/blur.png'); */
      /* border-radius: 50%; */
      width: 1000px;
      height: 1000px;
      background: #0649CA;
      opacity: .15;
      filter: blur(250px);
    }
    &::after{
      position: absolute;
      content: '';
      top: 184px;
      left: -35px;
      background-image: url('../images/decor/top-circle.svg');
      width: 900px;
      height: 900px;
    }
  }
  &__content{
    max-width: 960px;
    padding: 285px 0;
    position: relative;
    z-index: 2;
  }
  &__subtitle{
    margin-bottom: 25px;
    --animate-duration: 1.5s;
  }
  &__title{
    font-size: 78px;
    line-height: 86px;
    @extend %open-700;
    margin-bottom: 85px;
    --animate-duration: 1.5s;
  }
  &__popup{
    display: flex;
    align-items: center;
    --animate-duration: 1.5s;
  }
  &__popup-video{
    margin-right: 50px;
  }
  &__popup-text{
    font-size: 24px;
    line-height: 130%;
    color:$title; 
    max-width: 360px;
   }

   
}
/* .deg{
  animation: deg 15s linear  infinite ;
  transform-origin: center;
}
@keyframes deg{
  to{
    transform: rotate(360deg);
  }
} 
.abc{
  animation: abc 15s linear  infinite ;
  transform-origin: center;
}

@keyframes abc{
  to{
    transform: rotate(360deg);
  }
}  */


.abc{
  --animate-duration: 3.5s;
}
 .circle{
  stroke-dasharray: 295;
  stroke-dashoffset: 0;
  animation: animdash 60s linear 2s infinite ;
}


@keyframes animdash{
  to{
    stroke-dasharray: 295;
    stroke-dashoffset: 885;
  }
} 

.payse{
  transform-origin: center;
}



.services{
  &__inner{
    display: flex;
    align-items: flex-end;
    padding: 200px 0 100px 0px;
  }
  &__content{
    max-width: 360px;
    margin: 0 45px 50px auto;
    padding-left: 15px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__link{
    @extend %btn;
  }
}

.service{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item{
    width: 310px;
    margin-left: 20px;
  }
  &__link{
    source,
    img{
      width: 310px;
      height: 400px;
      object-fit: cover;
    }
  }
  &__box{
    padding-left: 20px;
    margin-top: -12px;
  }
  &__box-title{
    font-size: 24px;
    line-height: 29px;
  }
  &__box-text{
    font-size: 16px;
    line-height: 27px;
    span{
      color: $title;
      padding-left: 10px;
      font-size: 18px;
      line-height: 31px;
      @extend %montserrat-700;
    }
  }
}

.examples{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 90%;
    z-index: 2;
    background: linear-gradient(180deg, #030404 0%, rgba(3, 4, 4, 0) 100%);
  }
  &::after{
    content: '';
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(3, 4, 4, 0) 0%, #030404 100%);
  }
}

.slider-examples{
  overflow: hidden;
  .slick-arrow {
    position: absolute;
    right: 420px;
    bottom: 80px;
    border: none;
    background-color: transparent;
    opacity: .5;
    cursor: pointer;
    z-index: 5;
  }
  .slick-prev{
    z-index: 4;
    right: 500px;
  }
}


.examples-slider{
  overflow: hidden;
  &__item{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before{
      content: '';
      position: absolute;
      background: rgba(17, 19, 25, 0.8);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      right: 0;
      bottom: -470px;
      width: 1000px;
      height: 1000px;
      z-index: -1;
      background-image: url('../images/decor/blur.png');
      background-repeat: no-repeat;
    }
  }
  &__inner{
    padding: 180px 100px 180px;
    display: flex;
    align-items: center;
    height: 900px;
  }
  &__images{
    margin-right: 95px;
    min-width: 1px;
    max-width: 875px;
  }
  .images-slider{
    position: relative;
    /* transition: all .3s linear; */
    source,
    img{
      width: 440px;
      height: 500px;
      /* width: 585px;
      height: 700px; */
      object-fit: cover;
      transition: all .4s linear; //либо 3 либо 4 если скорость 500
    }
  }
  .slick-slide,
  .slick-track{
    transition: all .3s linear;//либо 3 либо 2
  }

  .slick-slide{
    position: relative;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 9px;
        background: rgba(28, 33, 39, 0.3);
        transition: all .3s linear;
      }
  }
  .slick-current{
    opacity: .3;
    transform: translateY(20%);//пока так, чтоб задать слик слайдеру бефор
    source,
    img{
      width: 290px;
      height: 500px;
      /* width: 585px;
      height: 700px; */
      object-fit: cover;
     /*  transform: translateY(20%); */
      transition: all .6s linear;
    }
  }
 
  .slick-active:not(.slick-current){
    position: relative;
    source,
    img{
    transition: all .5s linear;
      width: 585px;
      height: 700px;
    }
  }
  .slick-arrow{
    background-color: transparent;
    border: none;
    font-size: 0;
    position: absolute;
    z-index: 3;
    cursor: pointer;
  }
  .slick-prev{
    top: 20%;
    left: 0%;
    width: 290px;
    height: 500px;
  }
  .slick-next{
    right: 0%;
    top: 0%;
    width: 585px;
    height: 700px;
  }
  &__content{
    max-width: 440px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
  }
  ul.examples-slider__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__list-item{
    width: 180px;
    padding-left: 55px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
      background-repeat: no-repeat;
    }
    &--location::before{
      background-image: url('../images/icons/marker.svg');
    }
    &--dress::before{
      background-image: url('../images/icons/dress.svg');
      opacity: .3;
    }
    &--eye::before{
      background-image: url('../images/icons/eye.svg');
    }
    &--woman::before{
      background-image: url('../images/icons/woman.svg');
    }
  }
  &__list-title{
    font-size: 16px;
    line-height: 28px;
    @extend %montserrat-700;
  }
  &__list-descr{
    font-size: 14px;
    line-height: 24px;
  }
  &__link{
    @extend %btn;
  }
}


.popup{
  padding: 100px 0 120px;
  text-align: center;
  position: relative;
  z-index: 2;
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .3);
  }
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/decor/circle.svg');
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    top: -200px;
    right: -112px;
    z-index: 2;
    transform: rotate(-45deg);
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 60px;
  }
.video-popup{
  overflow: hidden;
    min-height: 700px;
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    z-index: 1;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(17, 19, 25, 0.45);
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
     /*  background-image: url('../images/decor/litle-blur.png');
      background-repeat: no-repeat; */
      width: 500px;
      height: 500px;
      background: #0649CA;
      opacity: 0.15;
      filter: blur(200px);
    }
    &__link{
      border: 2px solid $title;
      border-radius: 50%;
      background: rgba(3, 3, 4, 0.34);
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__play{
      margin-left: 10px;
      width: 50%;
      --animate-duration: 4s;
    }
  }
}


.about-me{
  background: url('../images/author-bg.jpg') no-repeat 92% 12%/auto;
  @supports (background-image: url('../images/author-bg.webp')){
  background: url('../images/author-bg.webp') no-repeat 92% 12%/auto;
  z-index: 1;
  padding: 70px 0 90px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
  }
  &::after{
    content: '';
    position: absolute;
    top: -310px;
    left: -220px;
    background: #0649CA;
    opacity: 0.05;
    filter: blur(200px);
    z-index: -1;
    width: 1000px;
    height: 1000px;
  }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba($title, .1);
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/decor/circle.svg');
      width: 400px;
      height: 400px;
      bottom: -15%;
      left: -40%;
      z-index: -1;
      transform: rotate(135deg);
    }
  }
  &__content{
    max-width: 440px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text-box{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 30px;
  }
  &__link{
    @extend %btn;
  }
  &__images{
    width: 585px;
    picture{
      source,
      img{
        width: 585px;
        height: 700px;
        object-fit: cover;
      }
    }
  }
}

.skills{
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    width: 410px;
    margin-bottom: 60px;
    display: flex;
  }
  
  &__item-box{
    margin-left: 30px;
  }
  &__title{
    font-size: 24px;
    line-height: 29px;  
    margin-bottom: 10px;
  }
  
  .progressbar {
    display: inline-block;
    width: 100px;
  }
  .circle {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  .circle canvas {
    vertical-align: middle;
  }
  .circle div {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 31px;
    font-size: 26px;
    @extend %montserrat-400;
  }
  .circle strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
  }
  .circle span {
    display: block;
    color: $title;
    margin-top: 12px;
  }
}


.team{
  padding-bottom: 215px;
  &__top{
    text-align: center;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 60px;
  }
}

.team-slider{
  max-width: 1520px;
  margin: 0 auto;
  &__item{
    width: 360px;
    width: 100%;
    position: relative;
    /* padding: 0 15px; */
    z-index: 1;
    &::before{
      position: absolute;
      content: '';
      right: 0;
      left: 0;
      bottom: 0;
      top: 80%;
      background: linear-gradient(180deg, rgba(16, 18, 21, 0) 0%, rgba(3, 3, 4, 0.6) 100%);
    }
    picture{
      source,
      img{
        width: 360px;
        height: 460px;
        object-fit: cover;
        display: inline;
      }
    }
  }

  .slick-arrow{
    position: absolute;
    background-color: transparent;
    padding: 0;
    border: none;
    bottom: -55px;
    opacity: .5;
    cursor: pointer;
  }
  .slick-prev{
    left: 47%;;
  }
  .slick-next{
    left: 53%;
  }

  &__box{
    position: absolute;
    left: 20px;
    bottom: -30px;
    right: 20px;
  }
  &__title-name{
    font-size: 24px;
    line-height: 29px;
  }
  &__profession{
    font-size: 16px;
    line-height: 27px;
  }
  .slick-list {
    padding-bottom: 30px;
  }
}


.about-us{
  padding-bottom: 130px;
  &__inner{
    display: flex;
    align-items: center;
  }
  &__content{
    max-width: 460px;
    width: 100%;
    margin-right: 125px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 40px;
  }
  &__statistic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__statistic-item{
    display: flex;
    align-items: center;
    width: 210px;
    @extend %montserrat-700;
    margin-bottom: 40px;
  }
  &__statistic-descr{
    color: $title;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
  }
  &__statistic-number{
    margin-right: 20px;
    color: $accent;
    font-size: 40px;
    line-height: 50px;
    display: block;
  }
  &__popup{
    min-height: 700px;
    z-index: 1;
    width: 865px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* @supports (background-image: url('../images/team-popup.webp')){
      background: url('../images/team-popup.webp') no-repeat center/cover;
    } */
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(17, 19, 25, 0.5);
      z-index: -1;
    }
  }
}

.reviews-block{
  padding: 100px 0;
  z-index: 1;
  background-color: rgba(23, 24, 24, 1);
 /*  margin-bottom: 120px; */
  min-height: 600px;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    left: 0;
    z-index: -1;
  }
  &::before{
    background: linear-gradient(180deg, rgba(3, 4, 4, 0) 0%, #030404 100%);
    bottom: 0;
    top: 80%;
  }
  &::after{
    background: linear-gradient(360deg, rgba(3, 4, 4, 0) 0%, #030404 100%);
    top: 0;
    bottom: 80%;
  }
  &__top{
    text-align: center;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 50px;
  }
}

.reviews-slider{
  max-width: 650px;//пока так,пока не уменьшил размер иконок.а так 460пх
  margin: 0 auto;
  height: 155px;//Чтобы блок не скакал изза перепада высот
  &__item{
    width: 150px;
    opacity: .3;
    position: relative;
    transition: all .3s linear;
    margin-top: 15px;
    padding: 0 18px;
    text-align: center;
  }
  &__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    transition: all .3s linear;
  }
  &__name{
    color: $title;
    font-size: 12px;
    line-height: 170%;
    text-transform: uppercase;
    @extend %montserrat-700;
    opacity: 0;
    max-width: 100px;
    transition: all .3s linear;
  }
  .slick-slide,
  .slick-track{
    transition: all .3s linear;
  }
  .slick-current{
    .reviews-slider__item{
      margin-top: 0;
      opacity: 1;
      width: 150px;
    }
    .reviews-slider__img{
      width: 100px;
      height: 100px;
      margin: 0 auto 10px;
    }
    .reviews-slider__name{
      opacity: 1;
      
    }
  }
  .slick-arrow{
    background-color: transparent;
    font-size: 0;
    border: none;
    position: absolute;
    right: 32%;
    top: 100%;
  }
  .slick-prev{
    left: 32%;
  }
}

.price{
  padding: 120px 0 120px;
  z-index: 1;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #0649CA;
    opacity: 0.05;
    filter: blur(200px);
    width: 1000px;
    z-index: -1;
    height: 1000px;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    right: -6%;
    width: 400px;
    z-index: -1;
    height: 400px;
    background-image: url('../images/decor/circle.svg');
    transform: rotate(-45deg);
  }
  &__content{
    text-align: center;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 60px;
  }
  ul.price__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__list-item{
    width: 360px;
    background-color: #0B0D0E;
    padding: 60px 10px 60px 20px;
    margin: 0 30px 30px 0;
    &:last-child{
      margin-right: 0;
    }
    &:hover{
      .price__list-img{
        opacity: 1;
      }
    }
  }
  &__list-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 auto 30px;
    opacity: .3;
    transition: all .3s linear;
  }
  &__list-rate{
    font-size: 14px;
    line-height: 24px;
    color: $title;
    text-transform: uppercase;
    text-align: center;
    @extend %montserrat-700;
    margin-bottom: 40px;
    span{
      color: $accent;
      font-size: 50px;
      line-height:  60px;
      opacity: 1;
      @extend %open-700;
      display: block;
      sup{
        color: $accent;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  ul.rate{
    padding-left: 50px;
  }
  .rate{
    margin-bottom: 60px;
    text-align: left;
    &__item{
      margin-bottom: 15px;
      padding-left: 18px;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: $accent;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
  &__list-link{
    @extend %btn;
  }
}

.event{
  padding-bottom: 160px;
  @supports (background-image: url('../images/event-bg.webp')){
    background: url('../images/event-bg.webp') no-repeat  88% 24%/auto;
  }
  background-image: url('../images/event-bg.jpg');
  background-repeat: no-repeat;
  background-position:  88% 24%;
  background-size: auto;
  z-index: 1;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #0649CA;
    opacity: 0.05;
    -webkit-filter: blur(200px);
    filter: blur(200px);
    width: 1000px;
    z-index: -1;
    height: 1000px;
  }
  &__inner{
    display: flex;
    align-items: center;
  }
  &__content{
    max-width: 460px;
    margin-right: 115px;
  }
  &__subtitle{
    margin-bottom: 20px;
  }
  &__title{
    margin-bottom: 30px;
  }
  &__text{
    margin-bottom: 40px;
  }
  &__info{
    margin-bottom: 60px;
  }
  &__info-title{
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 20px;
  }
  &__info-box{
    display: flex;
  }
  &__info-date{
    font-size: 14px;
    line-height: 24px;
    margin-right: 60px;
    @extend %montserrat-700;
    color: $title;
    time{
      color: $default;
      font-size: 16px;
      line-height: 27px;
      @extend %montserrat-400;
      display: block;
    }
  }
  &__link{
    @extend %btn;
  }
  &__img{
    width: 570px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 60%;
      right: 0;
      left: 0;
      bottom: 0;
      background: linear-gradient(180deg, rgba(0, 12, 21, 0) 0%, rgba(0, 12, 21, 0.84) 45.62%, #000C15 100%);
    }
    source,
    img{
      width: 570px;
      height: 760px;
      object-fit: cover;
    }
  }
  &__img-text{
    position: absolute;
    bottom: 70px;
    right: 0;
    left: 0;
    text-align: center;
    @extend %montserrat-700;
    p{
      font-size: 50px;
      line-height: 61px;
      margin-bottom: 10px;
      color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $title;
    }
    span{
      color: $title;
      font-size: 30px;
      line-height: 37px;
    }
  }
}

.contact{
  padding-bottom: 120px;
  z-index: 1;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 1000px;
    height: 1000px;
    top: 0;
    right: 0;
    z-index: -1;
    background: #0649CA;
    opacity: 0.08;
    filter: blur(250px);
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 530px;
  }
  &__title{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 60px;
  }
  &__box{
    display: flex;
    flex-wrap: wrap;
  }
  &__box-item{
    width: 190px;
    padding-left: 55px;
    margin-right: 100px;
    margin-bottom: 30px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 45px;
    }
    &:nth-child(1)::before{
      background-image: url('../images/icons/phone.svg');
      
    }
    &:nth-child(2n){
      margin-right: 0;
      &::before{
        background-image: url('../images/icons/marker.svg');
      }
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/email.svg');
      
    }
  }
  &__box-item{
    a,
    p{
      font-size: 14px;
      line-height: 22px;
    }
  }
  &__box-title{
    font-size: 18px;
    line-height: 24px;
  }
}

.contact-form{
  width: 430px;
  margin-top: 60px;
  &__title{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 30px;
  }
  &__input,
  &__textarea{
    display: block;
    margin-bottom: 20px;
    max-width: 430px;
    width: 100%;
  }
  /* &__textarea{
    height: 100px;
    resize: none;
    border-radius: 25px;
  } */
  &__btn{
    @extend %btn;
  }
}

.footer{
  z-index: 1;
  position: relative;
  &__inner{
    display: flex;
  }
  &__item{
    max-width: 640px;
    width: 100%;
    padding: 60px;
    background-color: #0B0D0E;
    &:nth-child(2){
      background-color: #101215;
    }
  }
  &__item-title{
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 40px;
  }
  ul.top__social-list{
    display: flex;
  }
  .top__social-item{
    padding: 0 23px;
    &:first-child{
      padding-left: 0;
    }
    &:nth-child(2)::before {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }
    &:nth-child(2)::after {
      top: 50%;
      transform: translateY(-50%);
      left: auto;
      right: 0;
    }
  }
  &__form{
    display: flex;
    justify-content: space-between;
  }
  &__form-input{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.15);
    padding: 12px 30px;
    max-width: 355px;
    border-radius: 50px;
    color: $default;
    outline: none;
    &::placeholder{
      color: $default;
    }
    &:focus{
      border: 2px solid rgba(255, 255, 255, 0.6);
      &::placeholder{
        color: transparent;
      }
    }
  }
  &__form-btn{
    @extend %btn;
  }
  &__contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__contact-item{
    width: 200px;
    margin-bottom: 10px;
    padding-left: 35px;
    position: relative;
    &:first-child{
      &::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: 7px;
        left: 0;
        background-repeat: no-repeat;
        background-image: url('../images/icons/mini-mail.svg');
      }
    }
    &:last-child{
      &::before{
        content: '';
        position: absolute;
        width: 20px;
        height: 30px;
        left: 0;
        top: 0;
        background-image: url('../images/icons/mini-marker.svg');
      }
    }
  }
  &__contact-link:last-child{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      top: 7px;
      left: -35px;
      background-repeat: no-repeat;
      background-image: url('../images/icons/mini-phone.svg');
    }
  }
  &__contact-link,
  &__contact-address{
    font-size: 16px;
    line-height: 27px;
    color: $title;
    display: block;
    margin-bottom: 10px;
  }
  &__bottom{
    background-color: $bg;
    padding: 25px 60px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-copy,
  &__bottom-link{
    font-size: 14px;
    line-height: 24px;
  }
  &__bottom-link{
    padding-right: 25px;
    display: inline-block;
    position: relative;
    &:first-child{
      &::before{
        content: '';
        position: absolute;
        width: 5px;
        height: 1px;
        background-color: $default;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }
    &:last-child{
      padding-right: 0;
      padding-left: 20px;
    }
  }
}



//================GALERY====================

.top-section{
  background-color: #1C2127;
  overflow: hidden;
  z-index: 1;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
  }
  &::before{
    background: #0649CA;
    opacity: 0.1;
    filter: blur(250px);
    width: 1000px;
    height: 1000px;
    top: -60%;
    left: -15%;
  }
  &::after{
    width: 710px;
    height: 710px;
    background-image: url('../images/decor/midle-circle.svg');
    transform: rotate(150deg);
    z-index: -1;
    top: -58%;
    left: -12%;
  }
  &__container{
    padding: 220px 0 110px;
    text-align: center;
  }
  
  &__title{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;
  }
}

.gallery{
  padding: 200px 0;
  z-index: 1;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  &::before{
    background: #0649CA;
    opacity: 0.1;
    filter: blur(250px);
    width: 1000px;
    height: 1000px;
  }
  &::after{
    width: 710px;
    height: 710px;
    background-image: url('../images/decor/midle-circle.svg');
    z-index: -1;
    bottom: -8%;
    }
  &__items{
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 370px);
    grid-gap: 20px;
  }
  &__item{
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: rgba($color: #030404, $alpha: .7);
      transition: all .3s linear;
      opacity: 0;
    }
    &::after{
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55px;
      height: 40px;
      opacity: 0;
      background-image: url('../images/decor/gallery-hover.svg');
      background-repeat: no-repeat;
      transition: all .3s linear;
    }
    &:hover{
      &::before,
      &::after{
      opacity: 1;
      }
    }
    source,
    img{
      object-fit: cover;
      height: 100%;
    }
    &:nth-child(1){
      grid-row: span 2;
    }
    &:nth-child(3){
      grid-column: span 2;
      grid-row: span 2;
    }
    &:nth-child(5){
      grid-column: span 2;
      grid-row: span 2;
    }
    &:nth-child(7){
      grid-row: span 2;
    }
  }
  &__btn-box{
    text-align: center;
  }
  &__btn{
    @extend %btn;
  }
}


.reviews{
  padding: 250px 0 200px;
  z-index: 1;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before{
    width: 800px;
    height: 800px;
    top: 0;
    right: 0;
    background: #0649CA;
    opacity: 0.05;
    filter: blur(250px);
  }
  &::after{
    width: 400px;
    height: 400px;
    background-image: url('../images/decor/circle.svg');
    top: 15%;
    right: -6%;
    transform: rotate(-45deg);
  }
  &__items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
  }
  &__item{
    padding: 30px;
    padding-top: 0;
    max-width: 360px;
    margin-right: 30px;
    margin-bottom: 100px;
    background-color: #101215;
    &:nth-child(3n){
      margin-right: 0;
    }
    &:nth-child(4),
    &:nth-child(6){
      //margin-top: -60px;
      margin-top: -30px;
    }
    &:nth-child(7),
    &:nth-child(9){
      //margin-top: -120px;
      margin-top: -70px;
    }
  }
  &__item-top{
    margin-top: -80px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
  }
  &__item-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__item-name{
    text-transform: uppercase;
    color: $title;
    font-size: 14px;
    line-height: 24px;
    @extend %montserrat-700;
  }
  &__text{
    font-size: 16px;
    line-height: 27px;
  }
  /* &__bottom{
    display: flex;
  } */
  &__bottom{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &::before,
  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before{
    width: 800px;
    height: 800px;
    bottom: 0;
    left: -30%;
    background: #0649CA;
    opacity: 0.05;
    filter: blur(250px);
  }
  &::after{
    width: 400px;
    height: 400px;
    background-image: url('../images/decor/circle.svg');
    bottom: 0;
    left: -41%;
    transform: rotate(135deg);
    }
  }
}

.reviews-form{
  margin-right: 60px;
  max-width: 750px;
  width: 100%;
  &__title{
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
  }
  &__input-box{
    display: flex;
    justify-content: space-between;
  }
  &__input{
    width: 235px;
    margin-bottom: 20px;
  }
  &__textarea{
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
  }
  &__btn{
    @extend %btn;
  }
}

.reviews-sale{
  width: 330px;
  position: relative;
  &__img{
    width: 330px;
    height: 365px;
    object-fit: cover;
    filter: grayscale(100%); //чб
  }
  &__box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $title;
  }
  &__text{
    font-size: 35px;
    line-height: 120%;
    text-transform: capitalize;
    @extend %open-700;
    margin-bottom: 30px;
    span{
      font-size: 20px;
      line-height: 120%;
      @extend %montserrat-400;
    }
  }
  &__num{
    @extend %open-600;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: 2px;
  }
}

.lg-next.lg-icon{
  background-image: url('../images/decor/left-arrow.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  &::before{
    content: '';
  }
}
.lg-prev.lg-icon{
  background-image: url('../images/decor/left-arrow.svg');
  background-repeat: no-repeat;
  width: 50px;
  height: 30px;
  &::after{
    content: '';
  }
}
.lg-close.lg-icon{
  &::after{
    content: '';
    width: 25px;
    height: 2px;
    background-color: $title;
    top: 23px;right: 25px;
    position: absolute;
    transform: rotate(135deg);
  }
  &::before{
    content: '';
    width: 25px;
    position: absolute;
    height: 2px;
    background-color: $title;
    top: 23px;right: 25px;
    transform: rotate(-135deg);
  }
}

.booking{
  padding: 200px 0;
  z-index: 3;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px;
    background: #0649CA;
    opacity: 0.05;
    filter: blur(200px);
    z-index: -1;
  }
  &__top{
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
  }
  &__title{
    font-size: 28px;
    line-height: 37px;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 30px;
  }
}

.booking-calendar{
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    z-index: -1;
  }
  &::before{
    width: 1000px;
    height: 1000px;
    background: #0649CA;
    opacity: 0.05;
    filter: blur(200px);
    filter: blur(200px);
    bottom: -21%;
    right: -34%;
  }
  &::after{
    width: 400px;
    height: 400px;
    bottom: 5%;
    right: -44%;
    transform: rotate(-45deg);
    background-image: url('../images/decor/circle.svg');
    background-repeat: no-repeat;
  }
  &__month{
    text-align: center;
    padding: 40px;
    background-color: #0B0D0E;
    p{
      color: $title;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 24px;
      @extend %montserrat-700;
    }
  }
  &__week{
    background-color: #101215;
    display: flex;
    justify-content: space-between;
  }
  &__day{
    display: inline-block;
    padding: 14px 67px;
    text-align: center; 
  }
  &__date{
    background-color: #030404;
    display: flex;
    flex-wrap: wrap;
  }
  &__label{
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  &__input{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
  }
  &__checkbox{
    color: $title;
    height: 162px;
    width: 162px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__input:disabled{
    & + .booking-calendar__checkbox{
      opacity: .15;
    }
  }
  &__input:checked{
    & + .booking-calendar__checkbox{
      background-color: #0B0D0E;
    }
  }
}
.popup-overlay{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: .4);
  backdrop-filter: blur(4px);
  z-index: 1;
  cursor: pointer;
}

.booking-box{
  display: none;
  z-index: 19;
  padding: 35px 90px;
  width: 100%;
  background-color: #0B0D0E;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1150px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  &__close{
    margin-left: auto;
    font-size: 50px;
    cursor: pointer;
    color: $title;
    display: inline-block;
    position: absolute;
    top: 6%;
    right: 2%;
  }
  &__item{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    &:nth-child(3){
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }
  }
  &__box-time{
    padding-left: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background-image: url('../images/icons/clock.svg');
      background-repeat: no-repeat;
    }
  }
  &__time{
    display: block;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: $title;
    @extend %montserrat-700;
  }
  &__place{
    display: block;
    font-size: 14px;
    line-height: 24px;
  }
  &__btn-box{
    padding-right: 55px;
  }
  &__btn{
    @extend %btn;
  }
}

.error{
  padding: 60px 0 230px;
  /* background-color: #1C2127; */
  z-index: 1;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    bottom: -10%;
    right: -10%;
    background: #0649CA;
    opacity: 0.1;
    filter: blur(200px);
    z-index: -1;
    width: 500px;
    height: 500px;
  }
  &__content{
    max-width: 760px;
    text-align: center;
    margin: 0 auto;
  }
  &__title{
    font-size: 120px;
    line-height: 144px;
    margin-bottom: 25px;
  }
  &__subtitle{
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 25px;
    display: block;
  }
}



@import 'media';